<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Store - Services</title>
    <script src="../checkCountry.js"></script>
    <script src="../../header.js"></script>
    <script src="menu2.js"></script>
    <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
    </header>
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Virtual Store</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes login">
                        <div class="col-md-12">
                            <h2 class="shorter"><strong id="categoryTitle">Services</strong></h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-group" id="collapsable">
                                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapse0" onclick="changeIcon(this)">
                                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>&nbsp;&nbsp;
                                                            <i class="fas fa-truck"></i> Delivery Services 
                                                            <i class="icon icon-caret-right" style="float:right;padding-top:5px;"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse0" class="panel-collapse collapse">
                                                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <li>We offer reliable and timely delivery services to ensure your purchases reach you in perfect condition.</li>
                                                            <li>Our delivery team is equipped to handle items of all sizes with the utmost care.</li>
                                                            <li>You can track your order online and get real-time updates on your delivery status.</li>
                                                            <li>We strive to deliver your items within the promised timeframe.</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapse1" onclick="changeIcon(this)">
                                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>&nbsp;&nbsp;
                                                            <i class="fas fa-tools"></i> Assembly Services 
                                                            <i class="icon icon-caret-right" style="float:right;padding-top:5px;"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <li>Take advantage of our free assembly services! Our skilled technicians will assemble your furniture at no additional cost.</li>
                                                            <li>Terms and conditions apply:</li>
                                                            <ol style="list-style-type: lower-alpha;">
                                                                <li>Free assembly services are available for selected items only.</li>
                                                                <li>Services must be scheduled at the time of purchase.</li>
                                                                <li>Assembly is available within our standard delivery zones.</li>
                                                                <li>Additional charges may apply for assembly in remote areas.</li>
                                                                <li>Please ensure someone is present to receive and supervise the assembly service.</li>
                                                            </ol>
                                                        </ol>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapse2" onclick="changeIcon(this)">
                                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>&nbsp;&nbsp;
                                                            <i class="fas fa-drafting-compass"></i> Planning Guide and Tools Service
                                                            <i class="icon icon-caret-right" style="float:right;padding-top:5px;"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <li>We provide comprehensive planning guides and tools to help you design your space.</li>
                                                            <li>Our tools can assist you in making the best choices for your needs, whether you're furnishing a single room or an entire home.</li>
                                                            <li>Our planning services include room layout guides, furniture arrangement tips, color and style consultations, and personalized shopping lists.</li>
                                                            <li>Our experts are available to help you every step of the way to ensure your space is perfect.</li>
                                                        </ol>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script src="../footer.js"></script>
    </footer>
</body>
</html>
